.principal { width: 725px; margin-left:15px; }

#bannerprincipal {
    margin-bottom: 10px;
}

.center {
    float:left;
    width: 553px;
}

#noticias h3, #colaboradores h3 {
    color:#8c5607;
    margin-top:20px;
    margin-bottom: 10px;
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
}

#colaboradores h3 {
    margin-bottom: 30px;
}

#noticias {
    float:left;
    width:300px;
    margin-right: 25px;
}

#noticias .noticia {
    background: #FEFEFD url(/images/bgnews.png) repeat-x left bottom;
    border:1px solid #E6BB89;
    padding:6px 15px;
    margin-bottom:5px;
}

#noticias .data {
    color:#8c5607;
    font-size:12px;
}

#noticias h4, #noticias h4 a {
    color:#8c5607;
    font-size:12px;
    font-weight:bold;
    line-height:18px;
}

#noticias p, #noticias p a {
    color:#8c5607;
    font-size:12px;
    font-weight:normal;
    line-height:18px;
    padding: 0;
}

#colaboradores {
    float:left;
    width: 225px;
}



#bannerlateral {
    width: 162px;
    float: left;
    margin-left:10px;
}

#bannerlateral .bl {
    margin-bottom: 8px;
}
