.col1 {
    width: 250px;
    margin-right: 15px;
    float:left;
}

.col2 {
    width: 670px;
    float:left;
}


.col2 .aula {
    padding: 15px 10px;
    border-bottom: 1px dotted #ddd;
}

.col2 .aula h3, .col2 .aula h3 a {
    color:#bf3a00;
    font-size: 18px;
    font-weight: bolder;
    letter-spacing: -0.02em;
    margin-bottom: 5px;
    text-decoration: none;
}

.col2 .aula h3 a:hover {
    color:#7f3210;
    text-decoration: underline;
}

.col2 .aula p {
    font-size: 12px;
    line-height: 19px;
    letter-spacing: -0.01em
}

.col1 .box h3 {
    color:#FFF;
    text-transform:uppercase;
    font:bold 12px arial;
    letter-spacing: -0.02em;
    padding: 10px 15px;
    background: #bf3a00;
    margin: 15px 0;
    clear:both;
}

.col1 .box.classificacao h3   {
    background: #79ccf7;
}
.col1 .box.series h3 {
    background: #618e00;
}

.col1 .box ul {
    padding:0 0 0 20px;
    margin:0;
    
    list-style-image: url(/images/arrow.png);
    font-size: 12px;
    letter-spacing: -0.01em;
    line-height:15px;
}

.col1 .box li {
    padding: 5px 0;
}

.col1 .box ul a {
    font-weight: bold;
    font-family: tahoma;
    color:#8c5708;
    text-decoration: none;
}

.content .col1 .box.series li a {
    text-decoration:none;
    line-height:14px;
}

.col1 .box.series li,
.col1 .box.materias li{
    float:left;
    width:110px;
    margin-right:5px;
}