<h2>Recuperar senha</h2>


<%= error_messages_for :user %>

 <% form_for :user do |f| -%>
   <p>
     Digite seu endereço de e-mail abaixo para reenviarmos sua senha.
   </p>

   <p>
     <label for="email">E-mail</label><br />
     <%= f.text_field :email %>
   </p>

   <p>
     <%= link_to "Cancelar", login_path %>
     <%= submit_tag 'Lembrar' %>
   </p>
 <% end -%>  