
.noticia {
    padding: 15px 10px;
    border-bottom: 1px dotted #ddd;
}

.noticia h3, .noticia h3 a {
    color:#bf3a00;
    font-size: 18px;
    font-weight: bolder;
    letter-spacing: -0.02em;
    margin-bottom: 5px;
    text-decoration: none;
}

.noticia h3 a:hover {
    color:#7f3210;
    text-decoration: underline;
}

.noticia p {
    font-size: 12px;
    line-height: 19px;
    letter-spacing: -0.01em
}