
<%= render :partial => "layouts/menu_principal" %>

<div class="principal">

  <h2>Central de Atendimento</h2>

<ul>
  <li>Outros canais de atendimento
    <div></div>
  </li>
</ul>
<div></div>
<p><strong>E-mail:</strong> atendimento@portalnota10.com.br</p>
<p><strong>Telematr&iacute;culas e Teleatendimento:</strong> 0800 707 4510   (Liga&ccedil;&atilde;o Gratuita)</p>
<p><strong>Fax:</strong> (67) 3333-4343</p>
<p><strong>Internacional:</strong> + 55 (67) 3313-4303</p>
<div></div>
<br>
<br>
<ul>
  <li>Hor&aacute;rio de atendimento
    <div></div>
  </li>
</ul>
<p><strong>Central de atendimento 0800 e Chat:</strong> Atendimento   On-line todos os dias <strong>24h</strong>, inclusive feriados.</p>
<p><strong>Ligue agora:</strong> 0800 707 4520</p>


</div>