
<%= render :partial => "layouts/menu_principal" %>

<div class="principal">

  <h2>Como funciona?</h2>

  <p>A novidade que faltava para voc&ecirc; que est&aacute; sem tempo para se atualizar   e adquirir novos conhecimentos.</p>

<h3>Proposta dos cursos</h3>

<p>A rede mundial de computadores &eacute; uma realidade incontest&aacute;vel, sua   integra&ccedil;&atilde;o cada vez maior com a sociedade faz desta m&iacute;dia um canal de   impressionante penetra&ccedil;&atilde;o. Pensando nisto, o <a href="http://www.portalnota10.com.br">Portal Nota 10</a>, promove a   realiza&ccedil;&atilde;o de cursos a dist&acirc;ncia, para que os profissionais e estudantes   estejam cada vez mais aprimorando seus conhecimentos. Nossos sites   associados s&atilde;o parceiros neste desafio que veio para somar em nossas   tecnologias, trazendo ainda mais idoneidade de nossos trabalhos.</p>
<p>O Sistema de Ensino Portal Educa&ccedil;&atilde;o t&ecirc;m como principal finalidade   contribuir por meio da EaD (educa&ccedil;&atilde;o &agrave; dist&acirc;ncia), de forma &eacute;tica e   eficaz para o aprendizado com qualidade da pessoa humana, oferecendo   cursos (livres) via internet, favorecendo uma aprendizagem de qualidade.</p>
<p>Conhe&ccedil;a nossa proposta pedag&oacute;gica. <a href="http://www.portaleducacao.com.br/arquivos/institucional/proposta_pedagogica_portaleducacao.pdf" target="_blank">Clique aqui.</a></p>


<h3>Vantagens de nossos cursos</h3>

<ul>
  <li>Flexibilidade de hor&aacute;rio: voc&ecirc; estuda no momento em que lhe for   mais apropriado.</li>
  <li>Flexibilidade de lugar: voc&ecirc; estuda no lugar em que julgar mais   conveniente.</li>
  <li>Flexibilidade de ritmo: voc&ecirc; evolui de acordo com o seu ritmo,   de acordo com sua velocidade de aprendizagem.</li>
  <li>Acompanhamento individual: o tutor lhe orientar&aacute; de acordo com   suas necessidades.</li>
  <li>Certificado como reconhecimento aos aprovados</li>
</ul>

<h3>Cadastro e matr&iacute;cula</h3>

<p>Para realizar sua matr&iacute;cula, siga os seguintes passos:</p>
<ul>
  <li>Escolha o(s) curso(s) que deseja se matricular;</li>
  <li><a href="http://portaleducacao.com.br/educacao/identificacao">Cadastre-se</a>,   caso ainda n&atilde;o possua login e senha do Portal Educa&ccedil;&atilde;o;</li>
  <li>Escolha a forma de pagamento;</li>
  <li>Na data estipulada, acesse sua Sala de Aula Virtual.</li>
</ul>


<h3>Sistema Integrado de Ensino e Recursos Tecnol&oacute;gicos</h3>

<p>Abaixo apresentamos uma breve descri&ccedil;&atilde;o sobre nosso Sistema de   E-Learning (Educa&ccedil;&atilde;o a Dist&acirc;ncia) utilizado para realiza&ccedil;&atilde;o de nossos   cursos pela Internet. N&atilde;o perca tempo, inscreva-se em um de nossos   cursos! </p>

  <table width="49%" border="0" cellpadding="5" cellspacing="5">
  <tbody>
    <tr>
      <td width="40px"><img src="http://portaleducacao.com.br/educacao/_imagens/icon_video.gif" alt="Videoconfer&ecirc;ncia" title="Videoconfer&ecirc;ncia"></td>
      <td>Videoconfer&ecirc;ncia da Sala de Aula Virtual equipada com   recursos de v&iacute;deo</td>
    </tr>
    <tr>
      <td><img src="http://portaleducacao.com.br/educacao/_imagens/icon_video1.gif" alt="Transmiss&atilde;o de v&iacute;deos" title="Transmiss&atilde;o de v&iacute;deos"></td>
      <td>Transmiss&atilde;o de v&iacute;deos (streaming)</td>
    </tr>
    <tr>
      <td><img src="http://portaleducacao.com.br/educacao/_imagens/icon_pdf.gif" alt="Conte&uacute;do dispon&iacute;vel em PDF" title="Conte&uacute;do dispon&iacute;vel em PDF"></td>
      <td>Conte&uacute;do dispon&iacute;vel em PDF </td>
    </tr>
    <tr>
      <td><img src="http://portaleducacao.com.br/educacao/_imagens/icon_flash.png" alt="Anima&ccedil;&otilde;es em Flash" title="Anima&ccedil;&otilde;es em Flash"></td>
      <td>Anima&ccedil;&otilde;es em Flash dispostas ao longo do curso</td>
    </tr>
    <tr>
      <td><img src="http://portaleducacao.com.br/educacao/_imagens/icon_search1.gif" alt="Pesquisa Interna" title="Pesquisa Interna"></td>
      <td>Pesquisa Interna</td>
    </tr>
    <tr>
      <td><img src="http://portaleducacao.com.br/educacao/_imagens/icon_stats2.gif" alt="Percentual de Desempenho" title="Percentual de Desempenho"></td>
      <td>Percentual de Desempenho de andamento do curso</td>
    </tr>
    <tr>
      <td><img src="http://portaleducacao.com.br/educacao/_imagens/icon_ferramenta.gif" alt="Ferramentas de Apoio" title="Ferramentas de Apoio"></td>
      <td>Ferramentas de Apoio ao Tutor para Avalia&ccedil;&atilde;o do Aprendizado</td>
    </tr>
    <tr>
      <td><img src="http://portaleducacao.com.br/educacao/_imagens/icon_foruns.gif" alt="F&oacute;rum de Discuss&atilde;o" title="F&oacute;rum de Discuss&atilde;o"></td>
      <td>F&oacute;rum de Discuss&atilde;o</td>
    </tr>
    <tr>
      <td><img src="http://portaleducacao.com.br/educacao/_imagens/icon_books_peq.gif" alt="Biblioteca" title="Biblioteca"></td>
      <td>Biblioteca</td>
    </tr>
  </tbody>
</table>
<table width="49%" border="0" cellpadding="5" cellspacing="5">
  <tbody>
    <tr>
      <td><img src="http://portaleducacao.com.br/educacao/_imagens/icon_prova.gif" alt="Prova On-line" title="Prova On-line"></td>
      <td>Prova On-line para o aluno se programar</td>
    </tr>
    <tr>
      <td><img src="http://portaleducacao.com.br/educacao/_imagens/icon_package2.gif" alt="Objetos de Aprendizagem" title="Objetos de Aprendizagem"></td>
      <td>Objetos de Aprendizagem complementares</td>
    </tr>
    <tr>
      <td><img src="http://portaleducacao.com.br/educacao/_imagens/icon_ajuda1.gif" alt="Enquetes Interativas" title="Enquetes Interativas"></td>
      <td>Enquetes Interativas relacionadas ao aprendizado</td>
    </tr>
    <tr>
      <td><img src="http://portaleducacao.com.br/educacao/_imagens/icon_faq.gif" alt="Di&aacute;rio de Bordo " title="Di&aacute;rio de Bordo"></td>
      <td>Di&aacute;rio de Bordo para anota&ccedil;&otilde;es </td>
    </tr>
    <tr>
      <td width="40px"><img src="http://portaleducacao.com.br/educacao/_imagens/icon_chat4.gif" alt="Bate-Papo" title="Bate-Papo"></td>
      <td>Bate-Papo da Sala de Aula Virtual</td>
    </tr>
    <tr>
      <td><img src="http://portaleducacao.com.br/educacao/_imagens/icon_today.gif" alt="Mapa de Andamento do Curso" title="Mapa de Andamento do Curso"></td>
      <td>Mapa de Andamento do Curso</td>
    </tr>
    <tr>
      <td><img src="http://portaleducacao.com.br/educacao/_imagens/icon_web.gif" alt="Conte&uacute;do dispon&iacute;vel" title="Conte&uacute;do dispon&iacute;vel"></td>
      <td>Conte&uacute;do dispon&iacute;vel On-line com Exerc&iacute;cios de Fixa&ccedil;&atilde;o </td>
    </tr>
    <tr>
      <td><img src="http://portaleducacao.com.br/educacao/_imagens/icon_tarefa1.gif" alt="Mural de Recados" title="Mural de Recados"></td>
      <td>Mural de Recados </td>
    </tr>
    <tr>
      <td><img src="http://portaleducacao.com.br/educacao/_imagens/icon_usuarios2.gif" alt="Tutor Especializado" title="Tutor Especializado"></td>
      <td>Tutor Especializado Dispon&iacute;vel </td>
    </tr>
  </tbody>
</table>


</div>