
<%= render :partial => "layouts/menu_principal" %>

<div class="principal">
  <h2>Formas de Pagamentos</h2>


<p>Conhe&ccedil;a abaixo as formas de pagamento dispon&iacute;veis. Voc&ecirc; poder&aacute; fazer a   matr&iacute;cula dos cursos do site atrav&eacute;s dos m&eacute;todos abaixo.<br>
  <br>
</p>
<table width="100%" border="0" cellpadding="10" cellspacing="10">
  <tbody>
    <tr>
      <td width="6%">&nbsp;</td>
      <td width="20%"><strong>Tipo:</strong></td>
      <td width="60%" align="center"><strong>Observa&ccedil;&otilde;es:</strong></td>
      <td width="20%"><strong>Libera&ccedil;&atilde;o:</strong></td>
    </tr>
    <tr>
      <td><img src="http://portaleducacao.com.br/sistema/imagens/pagto_pq_boleto.gif" alt="Boleto" title="Boleto" width="20" height="20"></td>
      <td>Boleto banc&aacute;rio</td>
      <td>Pag&aacute;vel em qualquer banco ou pela internet.</td>
      <td>2 dias &uacute;teis</td>
    </tr>
    <tr>
      <td><img src="http://portaleducacao.com.br/sistema/imagens/pagto_pq_bb.gif" alt="Banco do Brasil" title="Banco do Brasil" width="20" height="20"></td>
      <td>BB Office Banking </td>
      <td>D&eacute;bito em conta atrav&eacute;s do Internet Banking </td>
      <td>2 dias &uacute;teis</td>
    </tr>
    <tr>
      <td><img src="http://portaleducacao.com.br/sistema/imagens/pagto_pq_visa_electron.gif" alt="Visa Electron" title="Visa Electron" width="28" height="19"></td>
      <td>Cart&atilde;o Visa Electron</td>
      <td>&Agrave; vista atrav&eacute;s do <em>Bradesco SPS</em> (para correntistas   do banco)</td>
      <td>2 dias &uacute;teis</td>
    </tr>
    <tr>
      <td><img src="http://portaleducacao.com.br/sistema/imagens/pagto_pq_paypal.gif" alt="Paypal" title="Paypal"></td>
      <td>PayPal</td>
      <td>Pagamentos Online</td>
      <td>2 dias &uacute;teis</td>
    </tr>
  </tbody>
</table>
<div></div>
<br>
<table width="100%" border="0" cellpadding="10" cellspacing="10">
  <tbody>
    <tr>
      <td width="6%">&nbsp;</td>
      <td width="20%"><strong>Tipo:</strong></td>
      <td width="60%"><strong>Parcelamento:</strong></td>
      <td width="20%"><strong>Libera&ccedil;&atilde;o:</strong></td>
    </tr>
    <tr>
      <td><img src="http://portaleducacao.com.br/sistema/imagens/pagto_pq_visa.gif" alt="Visa" title="Visa" width="28" height="19"></td>
      <td>Cart&atilde;o Visa</td>
      <td>3x sem juros</td>
      <td>2 dias &uacute;teis</td>
    </tr>
    <tr>
      <td><img src="http://portaleducacao.com.br/sistema/imagens/pagto_pq_mastercard.gif" alt="Mastercard" title="Mastercard" width="28" height="19"></td>
      <td>Cart&atilde;o Mastercard</td>
      <td>3x sem juros</td>
      <td>2 dias &uacute;teis</td>
    </tr>
    <tr>
      <td><img src="http://portaleducacao.com.br/sistema/imagens/pagto_pq_diners.gif" alt="Diners" width="28" border="0" height="19"></td>
      <td>Cart&atilde;o Diners</td>
      <td>3x sem juros</td>
      <td>2 dias &uacute;teis</td>
    </tr>
    <tr>
      <td><img src="http://portaleducacao.com.br/sistema/imagens/pagto_pq_amex.gif" alt="AMEX" title="AMEX" width="28" height="19"></td>
      <td>Cart&atilde;o AMEX</td>
      <td>3x sem juros</td>
      <td>2 dias &uacute;teis</td>
    </tr>
  </tbody>
</table>
<div></div>
<br>
<br>
<ul>
  <li><a name="O pagamento e seguro" id="O pagamento e   seguro">O pagamento &eacute; seguro?</a>
    <div></div>
  </li>
  <p>Sim, todas as informa&ccedil;&otilde;es fornecidas no processo de compra s&atilde;o   criptografadas. O pagamento &eacute; realizado dentro do ambiente da pr&oacute;pria   operadora do cart&atilde;o.</p>
</ul>
<div></div>
<br>
<br>
<ul>
  <li><a name="Como proceder para pagar" id="Como   proceder para pagar">Como proceder para pagar?</a>
    <div></div>
  </li>
  <p>Voc&ecirc; ir&aacute; receber mais informa&ccedil;&otilde;es de como proceder ap&oacute;s a   finaliza&ccedil;&atilde;o da matr&iacute;cula. Na &uacute;ltima p&aacute;gina ter&aacute; tudo que &eacute; necess&aacute;rio   para efetuar o pagamento, e ainda receber&aacute; um e-mail confirmando a   matr&iacute;cula, seus cursos, data de in&iacute;cio, etc.</p>
</ul>
<div></div>
<br>
<br>
<ul>
  <li><a name="Confirmacao de pagamento" id="Confirmacao de pagamento">Confirma&ccedil;&atilde;o de pagamento</a>
    <div></div>
  </li>
</ul>
<p>Voc&ecirc; ir&aacute; receber mais informa&ccedil;&otilde;es de como proceder ap&oacute;s a finaliza&ccedil;&atilde;o   da matr&iacute;cula. Na &uacute;ltima p&aacute;gina ter&aacute; tudo que &eacute; necess&aacute;rio para efetuar o   pagamento, e ainda receber&aacute; um e-mail confirmando a matr&iacute;cula, seus   cursos, data de in&iacute;cio, etc.</p>
<p><img src="http://portaleducacao.com.br/educacao/_imagens/check.gif" alt="" title=""> A confirma&ccedil;&atilde;o de qualquer tipo de pagamento ser&aacute; feita   via e-mail</p>
<p><img src="http://portaleducacao.com.br/educacao/_imagens/check.gif" alt="" title=""> Para Transfer&ecirc;ncia/DOC, enviaremos um link via e-mail   para confirma&ccedil;&atilde;o dos dados </p>

</div>