
<%= render :partial => "layouts/menu_principal" %>

<div class="principal">
  <h2>Política de Privacidade</h2>


<div id="master">
  <div id="right">
    <table width="100%">
      <tbody>
        <tr>
          <td width="100px"><img src="http://portaleducacao.com.br/educacao/_imagens/pp_verified.gif" alt="Privacidade" title="Privacidade"></td>
          <td><h2><a name="Comprometimento" id="Comprometimento">Nosso   comprometimento com sua privacidade</a></h2>
            <p>O Portal Nota 10 leva   sua privacidade muito a s&eacute;rio. Para demonstrar nosso comprometimento,   escrevemos esse documento mostrando como administramos os dados que   coletamos e como voc&ecirc; participa desse processo. Para tornar nossa   pol&iacute;tica sempre acess&iacute;vel, iremos deix&aacute;-la dispon&iacute;vel atrav&eacute;s de nossa   Home Page e em todas as p&aacute;ginas onde possamos solicitar informa&ccedil;&otilde;es   pessoais.</p>
            <br></td>
        </tr>
      </tbody>
    </table>
    <div></div>
    <table width="100%">
      <tbody>
        <tr>
          <td width="100px"><img src="http://portaleducacao.com.br/educacao/_imagens/pp_inf.gif" alt="Privacidade" title="Privacidade"></td>
          <td><h2><a name="Informacoes" id="Informacoes">Como coletamos   informa&ccedil;&otilde;es</a></h2>
            <p>Existem basicamente duas formas de coletarmos   informa&ccedil;&otilde;es sobre nossos usu&aacute;rios: atrav&eacute;s das intera&ccedil;&otilde;es com nossos   sites e dos dados fornecidos voluntariamente. Na primeira situa&ccedil;&atilde;o   obtemos e arquivamos estat&iacute;sticas sobre as atividades de nossos usu&aacute;rios   como, por exemplo, quais s&atilde;o as p&aacute;ginas mais visitadas e o tempo gasto   em cada se&ccedil;&atilde;o. Na segunda, obtemos informa&ccedil;&otilde;es fornecidas atrav&eacute;s do   cadastramento, pesquisas, promo&ccedil;&otilde;es e outros, sempre atrav&eacute;s de seu   consentimento.</p></td>
        </tr>
      </tbody>
    </table>
    <div></div>
    <table width="100%">
      <tbody>
        <tr>
          <td width="100px"><img src="http://portaleducacao.com.br/educacao/_imagens/pp_dados.jpg" alt="Privacidade" title="Privacidade"></td>
          <td><h2><a name="Dados" id="Dados">Como usamos esses dados</a></h2>
            <p>N&oacute;s   utilizamos as informa&ccedil;&otilde;es gen&eacute;ricas que obtemos para continuamente   melhorar nossos sites, veicular publicidade e oferecer alternativas de   com&eacute;rcio. Al&eacute;m disso, usamos os dados (tanto gen&eacute;ricos quanto pessoais)   para melhorar sua experi&ecirc;ncia oferecendo conte&uacute;do, propaganda e produtos   que acreditamos ser relevantes para voc&ecirc;.  O Portal Nota 10 n&atilde;o compartilha suas informa&ccedil;&otilde;es pessoais com   anunciantes ou parceiros. Utilizamos seu e-mail apenas para enviar   produtos do site ou para divulgar promo&ccedil;&otilde;es. Os dados que compartilhamos   com terceiros s&atilde;o apenas gen&eacute;ricos e agregados, provenientes das   intera&ccedil;&otilde;es dos usu&aacute;rios com os sites. Por exemplo, podemos dizer a um   anunciante que um determinado n&uacute;mero de pessoas visitou determinada   se&ccedil;&atilde;o ou se cadastrou em nossos sites. Por&eacute;m, n&atilde;o divulgamos nenhuma   informa&ccedil;&atilde;o que possa identificar essas pessoas. Nas ocasi&otilde;es em que   realizarmos pesquisas ou promo&ccedil;&otilde;es em conjunto com algum anunciante,   informaremos que suas respostas ser&atilde;o compartilhadas com essa empresa.</p></td>
        </tr>
      </tbody>
    </table>
    <div></div>
    <table width="100%">
      <tbody>
        <tr>
          <td width="100px"><img src="http://portaleducacao.com.br/educacao/_imagens/pp_trans.gif" alt="Cookies" title="Cookies"></td>
          <td><h2><a name="Cookies" id="Cookies">Cookies</a></h2>
            <p>Cookies   s&atilde;o pequenos arquivos alocados em seu computador. Existem alguns   motivos pelos quais usamos cookies. Primeiro, o cookie permite que sua   senha seja guardada, evitando que voc&ecirc; tenha que redigit&aacute;-la diversas   vezes. Al&eacute;m disso, podemos entender melhor como os usu&aacute;rios interagem   com os sites, ajudando-nos a focar em conte&uacute;dos e servi&ccedil;os que sejam   mais populares. Finalmente, os cookies permitem ajustar o site para   oferecer conte&uacute;dos, publicidade e produtos que correspondam a seus   interesses e necessidades.  Obs.: Voc&ecirc; pode optar por n&atilde;o aceitar nossos cookies (atrav&eacute;s da   configura&ccedil;&atilde;o de seu browser), mas algumas &aacute;reas de nosso site podem n&atilde;o   funcionar corretamente. Al&eacute;m disso, dessa forma n&atilde;o poderemos lhe   oferecer servi&ccedil;os e conte&uacute;dos selecionados de acordo com seus   interesses.</p></td>
        </tr>
      </tbody>
    </table>
    <div></div>
    <table width="100%">
      <tbody>
        <tr>
          <td width="100px"><img src="http://portaleducacao.com.br/educacao/_imagens/pp_cadeado.gif" alt="Privacidade" title="Privacidade"></td>
          <td><h2><a name="Seguranca" id="Seguranca">Seguran&ccedil;a</a></h2>
            <p>Para   garantir que somente pessoas autorizadas tenham acesso &agrave;s informa&ccedil;&otilde;es,   garantir a coer&ecirc;ncia dos dados e assegurar o uso correto das   informa&ccedil;&otilde;es, utilizamos as melhores tecnologias do mercado e uma equipe   dedicada a gerenciar as informa&ccedil;&otilde;es que coletamos online.</p></td>
        </tr>
      </tbody>
    </table>
    <div></div>
    <table width="100%">
      <tbody>
        <tr>
          <td width="100px"><img src="http://portaleducacao.com.br/educacao/_imagens/pp_serv.gif" alt="Privacidade" title="Privacidade"></td>
          <td><h2><a name="Compartilhamento" id="Compartilhamento">Compartilhamento   de informa&ccedil;oes entre os sites do Portal Nota 10</a></h2>
            <p>A   arquitetura tecnol&oacute;gica dos sites do Portal Nota 10 foi constru&iacute;da de   modo a centralizar as informa&ccedil;&otilde;es de seus usu&aacute;rios em um &uacute;nico lugar. Ou   seja, uma vez cadastrado em um de nossos sites, automaticamente   poderemos reconhec&ecirc;-lo quando voc&ecirc; visitar os outros. Al&eacute;m da comodidade   que oferecemos de facilitar seu acesso a conte&uacute;do e servi&ccedil;os   diferenciados, essa pr&aacute;tica nos permite ter um conhecimento ainda maior   de nossos usu&aacute;rios, otimizando todos os benef&iacute;cios citados   anteriormente.  &Eacute; importante ressaltar que essa pr&aacute;tica se aplica apenas para nossos   sites, n&atilde;o sendo v&aacute;lida para os outros sites para os quais oferecemos   links (sejam parceiros ou n&atilde;o). Sugerimos que voc&ecirc; se informe sobre a   pol&iacute;tica desses sites antes de fornecer qualquer tipo de informa&ccedil;&atilde;o.</p></td>
        </tr>
      </tbody>
    </table>
    <div></div>
    <table width="100%">
      <tbody>
        <tr>
          <td width="100px"><img src="http://portaleducacao.com.br/educacao/_imagens/pp_faleconosco.gif" alt="Privacidade" title="Privacidade"></td>
          <td><h2><a name="Duvidas" id="D&uacute;vidas">D&uacute;vidas?</a></h2>
            <p>Esperamos   que essa pol&iacute;tica tenha esclarecido todos os procedimentos envolvendo   sua privacidade. Por&eacute;m, se voc&ecirc; ainda tem alguma d&uacute;vida, envie um e-mail   para atendimento@portalnota10.com.br para entrar em contato com a   nossa equipe.</p></td>
        </tr>
      </tbody>
    </table>
    <div></div>
    <div></div>
  </div>
</div>

</div>