
<%= render :partial => "layouts/menu_principal" %>

<div class="principal">

  <h2>Sobre a empresa</h2>

<p> <strong>Portal Nota 10 </strong>pretende consolidar-se como um   porto de capacita&ccedil;&atilde;o para os navegantes da internet. Para isso, temos   trabalhado a fim de construir uma forte imagem de efici&ecirc;ncia,   confiabilidade e agilidade, bem como firmado parcerias com institui&ccedil;&otilde;es   renomadas para, em m&eacute;dio prazo, atingir os pa&iacute;ses de l&iacute;ngua portuguesa   de forma mais abrangente.</p>
<p>Pretendemos crescer consistentemente, edificando uma s&oacute;lida rede de   parceiros e colaboradores satisfeitos com nossos servi&ccedil;os. A organiza&ccedil;&atilde;o   da empresa est&aacute; baseada em um padr&atilde;o de procedimentos, na forma de   fluxograma de f&aacute;cil entendimento para novos funcion&aacute;rios e estagi&aacute;rios,   visando assim descentralizar os servi&ccedil;os, al&eacute;m de contar com   colaboradores renomados de todo pa&iacute;s. A assist&ecirc;ncia &eacute; feita a todos os   que necessitam, com o atendimento personalizado e a agilidade que a   internet oferece. Garantia de qualidade e capacita&ccedil;&atilde;o cont&iacute;nua est&atilde;o   entre as prioridades estrat&eacute;gicas da empresa.</p>
<br>
<p><strong>MISS&Atilde;O:</strong><em> "Contribuir, atrav&eacute;s da Educa&ccedil;&atilde;o a   Dist&acirc;ncia, de forma &eacute;tica e eficaz para o aprendizado com qualidade da   pessoa humana." </em></p>
<br>
<p><strong>VIS&Atilde;O:</strong> <em> "Tornar-se refer&ecirc;ncia de qualidade,   compet&ecirc;ncia e excel&ecirc;ncia em Educa&ccedil;&atilde;o a Dist&acirc;ncia." </em></p>
<br>
<p><strong>VALORES:</strong></p>
<ul>
  <li>Qualidade ampla</li>
  <li>&Eacute;tica e satisfa&ccedil;&atilde;o com o cliente</li>
  <li>Excel&ecirc;ncia e compet&ecirc;ncia</li>
  <li>Compromisso com resultados</li>
  <li>Melhoria cont&iacute;nua</li>
</ul>


</div>