* {
 margin:0;
 padding: 0;
}

body {
    font:12px arial;
    line-height:19px;
    background: url(/images/bgtopo.png) repeat-x left top;
}


a {
    color:#07BDEF;
    text-decoration: none
}

a:hover {
    text-decoration: underline;
}

a img {
	border:0 solid;
}

.clear {
	clear: both;
	position: relative;
	font: 0;
	height: 1px;
	margin: -1px;
}

#bg {
    background:url(/images/topo.jpg) no-repeat top center;
}

#site {
    width: 950px;
    margin: 0 auto;
    text-align: left;
}

#topo {
    height: 232px;
    margin-bottom:10px;
    position:relative;
    color:#FFF;
}

#topo a {
    color:#000;
}

#topo a:hover { color:#fff; }

#boxlogin {
    position: absolute;
    top:60px;
    left:640px;
}

#boxlogin #user-bar-greeting { margin-bottom: 10px;  }

.btncadastrar {
   display:block;
   width:129px;
   height:33px;
   text-indent:-10000px;
   outline: none;
   position: absolute;
   background: url(/images/btncadastrar.png) no-repeat left top;
}
.btnentrar {
   display:block;
   width:89px;
   height:33px;
   text-indent:-10000px;
   outline: none;
   position: absolute;

   left:155px;
   background: url(/images/btnentrar.png) no-repeat left top;
}

.btnlogout {
   display:block;
   width:91px;
   height:29px;
   text-indent:-10000px;
   outline: none;
   background: url(/images/btnlogout.png) no-repeat left top;
}

.content {
    font-size:14px;
    line-height: 22px;
    letter-spacing: -0.01em;
    color:#333;
}

.content .wrap {
    padding: 15px 0;
    min-height: 400px;

}

.content input,
.content .input_text,
.content .input_password,
.content textarea,
.content select{
	font:12px tahoma,arial,helvetica,sans-serif;
	letter-spacing:1px;
	margin:0;
	padding:3px 3px 4px;
	_height:23px;
	border:1px solid #DEE3E6;
}

.content h2 {
    font:bold 25px arial;
    color:#9E5601;
    margin-bottom:25px;
}

#fbusca {
    position: absolute;
    top:195px;
    left:420px;
    width: 470px;
    border:0 solid;
    font:bold 20px arial;
}
#btnbuscar {
    position: absolute;
    top: 190px;
    left: 909px;
}


.principal {
    float:left;
    width: 680px;
    margin-left: 54px;
}

.principal h3 {
    font: bold 18px arial;
    margin-top: 10px;
    margin-bottom: 10px;
}

.principal p {
    padding: 7px 0 15px;
}

.principal ul {
    padding-left:30px;
    margin-bottom: 30px;
}


#menu { width: 210px; float:left;}

.mprincipal li {
    display: block;
    background: url(/images/menu.png) no-repeat left bottom;
    list-style: none;
}

.mprincipal li a {
    font-size: 12px;
    font-weight: bold;
    color:#8c5607;
    padding:7px 10px 10px  25px;
    display:block;
}

.maux { margin-top: 20px; }

.maux .m1, .maux .m2, .maux .m3, .maux .m4 {
    display: block;
    margin-bottom:1px;
}

.maux li a {
    font-size: 12px;
    font-weight: bold;
    color:#fff;
    padding:12px 10px 12px  25px;
    display:block;
}

.maux .m1 {
    background: url(/images/bgmenu1.png) no-repeat left top;
}
.maux .m2 {
    background: url(/images/bgmenu2.png) no-repeat left top;
}
.maux .m3 {
    background: url(/images/bgmenu3.png) no-repeat left top;
}
.maux .m4 {
    background: url(/images/bgmenu4.png) no-repeat left top;
}


#rodape {
    background:#E18700 url(/images/bgrodape-x.png) repeat-x left top;
}

#rodape {
    text-align: center;
}

#rodape .wrap {
    width: 950px;
    padding:30px 0;
    background: url(/images/bgrodape.png) no-repeat left top;
    text-align: center;
    color:#FFF;
    margin:0 auto;
    line-height: 19px;
}

#rodape a {
    color:#FFF;
    text-decoration: none;
}

#rodape h3 {
    text-transform: uppercase;
    font:bold 19px arial;
    letter-spacing: -1px;
    margin-bottom: 10px;
}